<%- include('partials/header'); -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<p id="invisible"><%= user.id%></p>


<section>
<form action="/ask">
  <h2>Ask a Question</h2>
  <label for="question">Question</label>
  <input type="text" name="question" required />
  <div class="question error"></div>
  <label for="category">Category</label>
  <input type="category" name="category" required />
  <div class="category error"></div>
  <button>Submit Question</button>
</form>
</section>

<%- include('partials/footer'); -%>

<script>
$(document).ready(function(){        
    $("#invisible").css("display", "none");   
    var id = $('#invisible').text();
    host = location.hostname;  
    var url = '/id + '/questions';
    
    const form = document.querySelector('form');
    const questionError = document.querySelector('.question.error');
    const categoryError = document.querySelector('.category.error');

    form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    questionError.textContent = '';
    categoryError.textContent = '';

    // get values
    var question = form.question.value;
    var category = form.category.value;
    question = question.charAt(0).toUpperCase() + question.slice(1);
    category = category.charAt(0).toUpperCase() + category.slice(1);
    

    try {
      const res = await fetch(url, { 
        method: 'POST', 
        body: JSON.stringify({ body: question, category: category}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.message) {
        if(data.message.errors.body){
        questionError.textContent = data.message.errors.body.message;
        }
        if(data.message.errors.category){
        categoryError.textContent = data.message.errors.category.message;
      };
      };
        
      if (data.body) {
        location.assign('/');
      }

    }
    catch (err) {
      console.log(err);
    }

    });
    
});
    
    
    
</script>